<!DOCTYPE html>
<head>
<title>RaspAstro Sun Statistics</title>
<link rel="stylesheet" href="/static/raspastro-style.css">
</head>

<body>
<h1>RaspAstro</h1>
<h2>The Sun</h2>
<p><a href="/">Home</a></p>

<p>Refreshed at: {{ datetime }}</p>

<h2>Current Sun</h2>
<table>
<tr>
<td>Sun Altitude:</td>
{% if currentsun['sun_alt'] > 0 %}
<td bgcolor="green">
{% else %}
<td>
{% endif %}
{{ currentsun['sun_alt'] }}° {{ currentsun['rising_sign'] }}</td>
<td rowspan="8"><img src="https://sdo.gsfc.nasa.gov/assets/img/latest/latest_512_HMIIF.jpg" width="200"><br>Source: <a href="https://sdo.gsfc.nasa.gov/data/">SDO Image</a></td>


</tr>

<tr>
<td>Sun Distance:</td><td>{{ currentsun['earth_distance_km'] }} km </td>
</tr>
<tr>
<td>Next Sunrise:</td><td>{{ currentsun['next_sunrise'] }} </td>
</tr>
<tr>
<td>Next Solar Noon:</td><td>{{ currentsun['next_sun_transit'] }} </td>
</tr>
<tr>
<td>Next Sunset:</td><td>{{ currentsun['next_sunset'] }} </td>
</tr>
<tr>
<td>Next Equinox:</td><td>{{ currentsun['next_equinox'] }} </td>
</tr>
<tr>
<td>Next Solstice:</td><td>{{ currentsun['next_solstice'] }} </td>
</tr>
</table>

<h2>Sun Rise/Set Times Next {{ numdays }} Days</h2>
<table>
<tr>
	<td>Day</td>
	<td>Astronomical Day</td>
	<td>Sun Rise</td>
	<td>Solar Noon</td>
	<td>Sun Set</td>
	<td>Astronomical Dark</td>
	<td>Day Length</td>
</tr>
{% for sun in sunstats %}
<tr>
	<td>{{ sun }}</td>
	<td>{{ sunstats[sun]['AstronomicalDay'] }}</td>
	<td>{{ sunstats[sun]['Sunrise'] }}</td>
	<td>{{ sunstats[sun]['SunTransit'] }}</td>
	<td>{{ sunstats[sun]['Sunset'] }}</td>
	<td>{{ sunstats[sun]['AstronomicalTwilight'] }}</td>
	<td>{{ sunstats[sun]['DayLengthHours'] }}h {{ sunstats[sun]['DayLengthMinutes'] }}m</td>
</tr>
{% endfor %}
</table>


<p><a href="https://github.com/herseyc/RaspAstroWeb">RaspAstroWeb</a> by Hersey from <a href="http://www.suffolksky.com">SuffolkSky.com</a></p>

</body>

</html>
